.base_color {
  background-color: #eaea7f;
}
.main_color {
  background-color: #1eae98;
}
.sub_color {
  background-color: #a9f1df;
}
.accsent_color {
  background-color: #233e8b;
}
.text_color {
  color: rgb(40, 40, 40);
}