header {
  height: 10vh;
  padding-left: 30px;
}

header h1 {
  font-size: 30px;
  line-height: 10vh;
}

main {
  position: relative;
  height: 90vh;
  background-color: #eee;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  transform: translateY(-45%) translateX(-50%);
  background-color: white;
  padding: 50px;
}

.login h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.login input {
  margin-bottom: 30px;
  width: 250px;
  height: 20px;
}

.login button {
  display: block;
  margin: 0 auto 20px;
  font-size: 20px;
  padding: 15px 20px;
  background-color: rgb(40, 40, 40);
  color: white;
  cursor: pointer;
}

main a {
  display: block;
  text-align: center;
}